<app-seller-header></app-seller-header>

<h3 class="headline">Part Inquiry List</h3>
<div class="table-responsive">
<table>   
        <tr>
            <th>Unique ID</th>
            <th>Vin</th>
            <th>Make</th>
            <th>Year</th>
            <th>Model</th>
            <th>Part-Name</th>
            <th>Part-Type</th>
            <th># Of Offers</th>
            <th>Offer Status</th>
            <th>Place An Offer</th>
            <th>Ask A Question</th>
        </tr>   
         
        <tr *ngFor="let partRequest of partRequestList; let first = first; let last = last">
            <td>{{partRequest.id}}</td>
            <td>{{partRequest.vinNumber}}</td>
            <td>{{partRequest.make}}</td>
            <td>{{partRequest.year}}</td>
            <td>{{partRequest.model}}</td>
            <td>{{partRequest.partName}}</td>
            <td>{{partRequest.partType}}</td>
            <td>{{partRequest.numberOfOffers}}</td>
            <td>{{partRequest.offerStatus}}</td> 
            <td class="td-button"><button class="place-btn btn btn-success" (click)="openDialog(partRequest)">Place An Offer</button></td>
            <td class="td-button1"><button class="ask-btn btn btn-danger" (click)="openDialog1(partRequest)">Ask A Question</button></td>
        </tr>
</table>