

.top5-label {
    display: inline-block;
    width: 60px;
    margin-right: auto;
    margin-left: auto;
}
.top-labels {
    background-color: dimgray;
    border-radius: 10px;
    width: 20%;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
    padding-left: 3%;
    line-height: 25px;
    margin-right: auto;
    margin-left: auto;
}
.hide {
    display: none;
    margin-left: 0px;
    font-size: 0.8rem;
  }
  .accepted-btn:hover + .hide {
    display: block;
    color: red;
    text-align: center;
  }
.headline {
    background-color: #444444;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    margin-top: 2%;
    color: #FFF;
    opacity: 0.8;
    font-size: 3rem;
    border-radius: 20px;
    }

table  {
    margin-right: auto;
    margin-left: auto;
    /* margin: 2% 20% 10%; */
    box-shadow: -2px -2px 5px 5px rgb(247, 223, 223);
}
td {
    /* background-color: burlywood; */
  border: 1px solid #131212;
  text-align: center;
  padding: 8px;
}
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: rgb(68, 64, 60);
  font-weight: bold;
  font-size: 1rem;
  color: #FFFF;
}
table.odd tr td, th {
	border:1px solid #ccc;
  	padding:5px;
}
tr:nth-child(even) {
   background: #f1f1f1;
  }
  tr:nth-child(odd) {
  background: #b1b0ae;
  }
  @media (max-width: 480px) {
      .top-labels {
          width: 50%;
          position: fixed;
      }
      table{
          margin-top: 40%;
      }
      .headline{
          font-size: 2rem;
          margin: 8% 0% 2%;
      }
      
  }