<app-buyer-header></app-buyer-header>

<h3 class="headline">Total Offer(s)</h3>
<div class="table-responsive" *ngIf="isViewReady"> 
    <div class="top-labels">
        <div>
          <label class="top5-label" for="year">Year: </label>
         <span>{{partRequest.year}}</span>
         </div>
        <div>
          <label class="top5-label" for="make">Make: </label>
          <span>{{partRequest.make}}</span>
        </div>
        <div>
          <label class="top5-label" for="model">Model: </label>
          <span>{{partRequest.model}}</span>
        </div>
        <div>
          <label class="top5-label" for="part-name">Part: </label>
          <span>{{partRequest.partName}}</span>
        </div>
      </div>
   <table>
       <tr>
           <th>Brand</th>
           <th>Type</th>
           <th>Warranty</th>
           <th>Offer Amount</th>
           <th>Delivery time</th>
           <th>Accept?</th>
       </tr>
       
       <tr *ngFor="let res of partOffers; let i = index">
           <td>{{res.partBrand}}</td>
           <td>{{res.typeOfPart}}</td>
           <td>{{res.bidWarranty}}</td>
           <td>${{res.bidAmount}}</td>
           <td>{{res.estDeliveryTime}}</td>
           <td class="view_offer_td"><button class="btn accepted-btn" [ngClass]="getButtonClass()" (click)="acceptOffer(res.id)">{{getBtnTextLabel()}}</button>
            <div class="hide">See details</div>
          </td>
       </tr>
     </table>
</div>
