<!-- <app-admin-header></app-admin-header> -->
<div class="container">
    <div class="main">
      <div class="main-center">
        <h5>Admin Menu</h5>
        <button class="btn btn-danger" (click)="viewApplications()"> See All Applications</button><br>
        <button class="btn btn-danger" (click)="viewRequests()"> See All Requests</button><br>
        <button class="btn btn-danger" (click)="viewOffers()"> See All Offers</button><br>
        <button class="btn btn-danger" (click)="viewTransactions()"> See All Transactions</button>
      </div>
    </div>
</div>

