<app-header></app-header>




<div class="contact-us-body">
  <div class="jumbotron jumbotron-sm">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-lg-12">
                  <h1 class="h1">
                      Contact us <small>Feel free to contact us</small></h1>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
    <form>
        <label for="">Your Name</label><br>
          <input type="text" name="Name"value=""><br>
            <label for="">Your Email</label><br>
            <input type="email" name="Email" value=""><br>
            <label for="">Your Message</label><br>
            <textarea name="Message" rows="10" cols="30"></textarea><br>
            <input type="submit" value="Send">
      </form>
     
  </div>
    <p>© <span>2021</span> <a href="#" class="transition">Part Supply App</a> All rights reserved.</p>

</div>
