
.contact-us-body {
  /* background: url('/assets/makerequest-background.png') no-repeat center center fixed; */
  background-color: #B2B1B9;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-family: 'Numans', sans-serif;
  font-weight: bold;
}

label{
  color: #FFF;
}
form{
  margin-top: 2%;
}
input{
  float: none;
  margin-bottom: 1%;
}
.submit{
  text-align: right;
}
textarea{
  align-items: flex-end;
}
.jumbotron {
background-color: Grey;
color: white;
border-radius: 0px;
}
.jumbotron-sm {
padding-top: 24px;
padding-bottom: 24px;
}
.jumbotron small {
color: black;
opacity: 0.5;
}
.h1 small {
font-size: 24px;
}
p {
  color: #e5e5e5;
  font-weight: 600;
  opacity: 0.5;
  text-align: center;
  padding-bottom: 0;
}
@media only screen and (max-width:992px) {

  p {
    margin-top: 0;
  }
}
@media only screen and (max-width:480px) {
  .contact-us-body {
    height: 100%;
    width: 100%;
  }
  .h1 small {
  font-size: 12px;
  }
  .h1{
    font-size: 24px;
  }
  p {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width:1030px) {
  .contact-us-body {
    height: 100%;
    width: 100%;
  }
}
