<app-header></app-header>
<div class="main">
  <div class="main-container">
    <div class="top-div">
        <p>Shops and other professionals need part(s) based on brand, cost, part condition, warranty and delivery time. <br> Sellers have the part(s) and ability to fullfill the order(s). <br> <strong><span>part</span>supply<span>.us</span></strong> helps supply the demand by reducing time spent searching the web <br> and talking on the phone - so you can keep business flowing.</p>
    </div>
        <div class="row middle-div">
            <div class="col-lg-6 seller-side">
              <h1>Sellers</h1>
              <div class="inside-container">
                <p>CREATE A SELLER ACCOUNT - <br> Within 24 hours, your Seller account will be completed and you will receive an email notification to begin selling. <br><br>After you have received your Welcome notice, you may LOGIN using the email and the password you have selected for the portal. <br><br>VIEW BUYER REQUEST FOR PARTS WITHIN YOUR SET RADIUS: <br> </p>
                  <p class="seller-span">- Each offer you make shall include: Part(s) as described AND includes the fees for local delivery or shipment.</p>
                  <p>WATCH FOR THUMBS UP OR THUMBS DOWN TO DETERMINE IF YOUR OFFER IS THE BEST OFFER IN CURRENT STANDING OR IF ANOTHER SELLER HAS MADE A BETTER OFFER. WHEN THE BUYER SELECTS AN OFFER, ONLY THE SELLER THEY HAVE ACCEPTED RECEIVES "OFFER ACCEPTED". <br><br> WHEN YOU RECEIVE "OFFER ACCEPTED" FROM A BUYER, prepare the order and delivery / shipment immediately. <br><br> PAYMENT IS PROCESSED UPON DELIVERY, AS IN DONG BUSINESS AS USUAL.<br></p>
              </div>
              </div>
            <div class="col-lg-6 buyer-side">
                <h1>Buyers</h1>
                <div class="inside-container">
                    <p >CREATE A BUYER ACCOUNT - <br> Within 24 hours, your Buyer account will be completed and you will receive an email notification, so you can begin requesting parts. <br><br>After you have received your Welcome notice, you may LOGIN using the email and the password you have selected for the portal. <br><br>POST A REQUEST FOR PARTS: <br></p>
                    <P class="seller-span">- The price(s) posted from Sellers include the fees for local delivery or shipment to your address.</P>
                    <p>YOU MAY RECEIVE OFFERS FROM A SELLER OR MULTIPLE SELLERS. WHEN YOU SELECT AN OFFER, THE SELLER WILL RECEIVE "OFFER ACCEPTED" AND PROCESS YOUR ORDER. YOUR PART IS ON ITS WAY TO YOU. <strong><span>part</span>supply<span>.us</span></strong> DOES NOT PROCESS YOUR PAYMENT. ALL PAYMENTS ARE HANDLED DIRECTLY BY THE SELLER. <br><br><br><br> <br></p>
                  </div>
            </div>
        
          </div>
</div>

</div>

