<app-seller-header></app-seller-header>
<!-- <h5 style="margin: 2%; text-align: right;">Account Name: {{firstName}} {{lastName}}</h5> -->
<div class="container">

    <div class="main">
      <div class="main-center">
        <h5>Supplier Menu</h5>

        <button class="btn btn-danger" (click)="SeeAllRequests()">Part Inquiry List </button>
<div>
    <button class="btn btn-danger" (click)="SeeOffersStatus()"> See My Offer(s) Status</button>
</div>

      </div>
    </div>
</div>



<p>© <span>2021</span> <a href="#" class="transition">Part Supply App</a> All rights reserved.</p>
