

<app-header></app-header>
<div class="body">
  <div class="container">
    <h4>Supplier Menu</h4>
    <button onClick="window.location=''" class="make-request btn-warning"type="" name="button">See all the Requests</button><br>
    <button onClick="window.location='#'"class="see-requests btn-warning" type="" name="button">See my offer Response</button>
    <div class="div-logout">
      <button (click)= "post()" class="btn-danger logout" type="" name="button">logout</button>
    </div>
  </div>
  <p>© <span>2021</span> <a href="#" class="transition">Part Supply App</a> All rights reserved.</p>
</div>
