<app-admin-header></app-admin-header>
<h3 class="headline">All Requests</h3>
<div class="table-responsive">
    <table>
        <tr>
            <th>Part ID</th>
            <th>Vin Number</th>
            <th>Part Name</th>
            <th>Make</th>
            <th>Year</th>
            <th>Model</th>
            <th>Date</th>
            <th># Of Offers</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
        <tr *ngFor="let res of response.data; let i = index">
            <td>{{res.id}}</td>
            <td>{{res.vinNumber}}</td>
            <td>{{res.partName}}</td>
            <td>{{res.make}}</td>
            <td>{{res.year}}</td>
            <td>{{res.model}}</td>
            <td>{{res.partRequestCreationDate.split('T')[0]}}</td>
            <td>{{res.numberOfOffers}}</td>
            
            <td>
                <span *ngIf="res.offerStatus === 'ACCEPTED'">
                    <!-- <img src="./../../../../assets/Accepted.png" class="status_img"> -->
                    <h6 style="color: green;">ACCEPTED</h6>
                </span>
                <span *ngIf="res.offerStatus === 'OPEN'" >
                    <!-- <img src="./../../../../assets/open.png" class="status_img"> -->
                    <h6 style="color: red;">OPEN</h6>
                </span>
            </td>
            <td>
                <input (click)="selectDeleteItem(res.id)" class="checkbox" type="checkbox" >
            </td>
        </tr>
        <tr>
            <td colspan="9" style="background-color: white; border: none; box-shadow: none;">&nbsp;</td>
            <td style="background-color: rgb(68, 64, 60);"> <button style="margin-top: 0%;" (click)="deleteItems()" class="btn btn-danger">DELETE</button></td>
        </tr>
        
            
        
      </table>
</div>
