.main{
background-color: #BBBFCA;
    
}
a, img {
    cursor: pointer;
}

  .nav-item{
    margin: 0 2px;
    font-weight: bold;
     text-shadow: 2px 2px 4px #000000;
     font-size: 1rem;
    
  }
  .navbar-nav{
    margin-left: 22%;
  }
  .navbar{
    background-color: #BBBFCA;
    
  }
  .nav-item:hover{
   font-size: 1.1rem;
  }
  .companylogo{
    filter: drop-shadow(7px 7px 7px #666666);
         -webkit-filter: drop-shadow(7px 7px 7px #666666);
  }
.logout {
    margin-left: 10%;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 2%;
  }
  @media (max-width: 992px){
    .logout{
      margin-left: 0px;
    }    
    .navbar-div{
      margin-left: 40%;
    }
  }
                    
  @media (max-width: 480px){
    .logout {
      margin-left: 0px;
      margin-top: 2%;
  }
  .navbar-div{
    margin-right: 10%;
  }
  .navbar-nav{
    margin-left: auto;
  }
  
}
  