<div class="sidebar">
<img src="/assets/company_log.jpeg" class="companylogo" alt="company logo" width="200px" height="50px">
  <a href="requestInfo">Existing Applications</a>
  <a href="">View all requests</a>
  <a href="home">Logout</a>

</div>
<div id="LoginForm">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Admin Login</h2>
          <p>Please enter your email and password</p>
        </div>
        <form id="Login">

          <div class="form-group">


            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" required autofocus>

          </div>

          <div class="form-group">

            <input type="password" class="form-control " id="inputPassword" placeholder="Password" required >

          </div>
          <!-- <div class="forgot">
            <a href="reset.html">Forgot password?</a>
          </div> -->
          <button type="submit" class="btn btn-primary">Login</button>

        </form>
      </div>
    </div>
  </div>
</div>
