<!-- <div class="sidebar">
<img src="/assets/company_log.jpeg" class="companylogo" alt="company logo" width="200px" height="50px">
  <a href="requestInfo">Existing Applications</a>
  <a href="">View all requests</a>
  <a href="home">Logout</a>

</div> -->
<div id="LoginForm">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Admin Login</h2>
          <p>Please enter your email and password</p>
        </div>
        <form id="Login" [formGroup]= "adminLoginForm" novalidate >
          <div class="form-group">
            <input [class.is-invalid] = "adminLoginForm.get('email').invalid && adminLoginForm.get('email').touched" formControlName = "email" type="email" class="form-control" id="inputEmail" placeholder="Email Address" required>
          </div>
          <div class="form-group">
            <input [class.is-invalid] = "adminLoginForm.get('password').invalid && adminLoginForm.get('email').touched" formControlName = "password" class="form-control" type="password" id="inputPassword" placeholder="Password" required >
          </div>
          <button [disabled]= "!adminLoginForm.valid" type="submit" (click)="post()" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
