

<div class="sidebar">
<img src="/assets/company_log.jpeg" class="companylogo" alt="company logo" width="200px" height="50px">
  <a class="active" href="home">Home</a>
  <a href="about">About</a>
  <a href="services">Services</a>
  <a href="contactUs">Contact-us</a>
  <a href="">View all requests</a>
  <a href="home">Logout</a>

</div>



<div class="container">

  <div class="main">
    <div class="main-center">
      <h5>Enter Part Request</h5>

      <form class="request-form" method="post" action="#">
        <div class="form-group">
          <label for="year">Year</label>
          <select class="form-control" name="" id="" required>
            <option value="none">Select...</option>
            <option value="none">2021</option>
            <option value="none">2020</option>
            <option value="none">2019</option>
            <option value="none">2018</option>
            <option value="none">2017</option>
            <option value="none">2016</option>
            <option value="none">2015</option>
            <option value="none">2014</option>
            <option value="none">2013</option>
            <option value="none">2012</option>
            <option value="none">2011</option>
            <option value="none">2010</option>
            <option value="none">2009</option>
            <option value="none">2008</option>
            <option value="none">2007</option>
            <option value="none">2006</option>
            <option value="none">2005</option>
            <option value="none">2004</option>
            <option value="none">2003</option>
            <option value="none">2002</option>
            <option value="none">2001</option>
            <option value="none">2000</option>
            <option value="none">1999</option>
            <option value="none">1998</option>
            <option value="none">1997</option>
            <option value="none">1996</option>
            <option value="none">1995</option>
            <option value="none">1994</option>
            <option value="none">1993</option>
            <option value="none">1992</option>
            <option value="none">1991</option>
            <option value="none">1990</option>
            <option value="none">1989</option>

          </select>
        </div>

        <div class="form-group">
          <label for="make">Make</label>
          <select class="form-control" name="" id="" required>
            <option value="none">Select...</option>
            <option value="none">Ford</option>
            <option value="none">Chevrolet</option>
            <option value="none">Buick</option>
            <option value="none">Tesla</option>
            <option value="none">Cadillac</option>
            <option value="none">GMC</option>
            <option value="none">Ram</option>
            <option value="none">Dodge</option>
            <option value="none">Jeep</option>
            <option value="none">Lincoln</option>
            <option value="none">Chrysler</option>
          </select>
          <!-- <input type="text" class="form-control" name="email" placeholder="Type here..." /> -->
        </div>

        <div class="form-group">
          <label for="Model">Model</label>
          <input type="text" class="form-control" name="model" placeholder="Type here..." />
        </div>

        <div class="form-group">
          <label for="VIN">VIN</label>
          <input type="text" class="form-control" name="VIN" placeholder="Type here..." />
        </div>

        <div class="form-group">
          <label for="part">Part</label>
          <input type="text" class="form-control" name="text" placeholder="Type here..."/>
        </div>

        <div class="form-group">
          <label for="type">Type of Part</label><br>
          ​<input class="checkbox" type="checkbox" id="" name="" value="">
          <label class="check-labels" for="used">Used</label><br>
          <input class="checkbox" type="checkbox" id="" name="" value="">
          <label class="check-labels" for="new">New</label><br>
          <input class="checkbox" type="checkbox" id="" name="" value="">
          <label class="check-labels" for="Remanufactured">Re-manufactured</label><br>
        </div>

        <button class="btn btn-primary" type="submit">SUBMIT</button>
        <button class="btn btn-danger clear-btn" onclick="location.reload()" type="submit">Clear</button>


      </form>



    </div>

    <!--main-center"-->
  </div>

  <!--main-->
</div>
<p>© <span>2021</span> <a href="#" class="transition">Part Supply App</a> All rights reserved.</p>
<!--container-->
