
::ng-deep.mat-dialog-container {
  background-color: red !important; 
    border-radius: 20px !important;
}

.label {
  font-size: 1rem;
  color: black;
}
h5{
  text-align: center;
  margin-bottom: 5%;
}
a{
  color: red;
  text-decoration: none;
}
a:hover{
  color: #FFF;
}

.view-request{
  margin-left: 10%;
  color: #FFF;
}

.view-request:hover{
  color: Yellow;
}
.container{
  font-size: 0.9rem;
}

.main{
 	padding: 40px 0;
}
.main input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}
.checkbox{
  float: left;
  margin-top: 2%;
  margin-left: 0;
}
.check-labels{
  margin-left: 2%;
  margin-top: 0;
}
.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 350px;
    padding: 10px 40px;
	/* background:#BBBFCA; */
  background: -webkit-linear-gradient(left, #b9b1b1, #49494b);
	    color: #FFF;
      border-radius: 20px;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 3px 3px 5px 5px rgb(247, 223, 223);
}
label{
  padding-bottom: 2%;
  margin-top: 2%;
}
button{
  margin-top: 5%;
  background-color: #394867;
  color: white;
}
button:hover{
  background-color: blue;
}
.clear-btn:hover{
  background-color: red;
  color: #FFF;
}
p {
  color:black;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-top: 20%;
}
.clear-btn{
  margin-left: 10%;
  
}
@media only screen and (max-width:992px) {
  p {
    margin-top: 50%;
  }
  .clear-btn{
    margin-right: 30%;
  }
  .view-request{
    margin-left: 10%;
    color: #FFF;
  }
  /* h4 {
    font-size: 1rem;
    padding-top: 50px;
    margin-right: 5%;
  } */
}
@media only screen and (max-width:480px) {
  p {
    font-size: 0.8rem;
  }
  .clear-btn{
    margin-right: 10%;
    margin-left: 10%;
  }
  .view-request{
    margin-left: 5%;
    color: #FFF;
  }

}

  body {
  font-size: 0.5rem;
  
}



@media screen and (max-width: 700px) {
}
  
/* mobile view */
@media screen and (max-width: 480px) {
 
}

