
<app-buyer-header></app-buyer-header>

<div class="container">
  <div class="main">
    <div class="main-center">
      <h5>Enter Part Request</h5>

      <form class="request-form" method="post" action="#" [formGroup]= "vehicleInfoForm" novalidate>
        
        <div class="form-group">
          <label for="VIN">VIN</label>
          <input formControlName = "vinNumber" type="text" maxlength="17" class="form-control" name="VIN" (blur)="onBlurMethod($event)" placeholder="Type here..." />
        </div>
        

        <div *ngIf="(vehicleInfoForm.get('vinNumber').invalid) && (vehicleInfoForm.get('vinNumber').touched) || (vehicleInfoForm.get('vinNumber').dirty)">
          <div *ngIf="(vehicleInfoForm.get('vinNumber').errors?.required)" class="text-danger"> VIN Number is Required</div>
          <div *ngIf="(vehicleInfoForm.get('vinNumber').errors?.minlength)" class="text-danger">VIN number must be 17 characters long </div>
          <div *ngIf="(vehicleInfoForm.get('vinNumber').errors?.pattern)" class="text-danger">Please provide a valid VIN number</div>
          <div class="text-danger" *ngIf="vinError !== ''">{{vinError}}</div>
        </div>

        <div *ngIf="shouldDisplayVehicleInfo" >
          <div class="form-group">
            <label for="make">Make</label>
            <div class="label">{{vehicleInfoForm.get('make').value}}</div>
          </div>
  
          <div class="form-group">
            <label for="model">Model</label>
            <div class="label">{{vehicleInfoForm.get('model').value}}</div>
          </div>
  
          <div class="form-group">
            <label for="year">Year</label>
            <div class="label">{{vehicleInfoForm.get('year').value}}</div>
          </div>
        </div>

        
        <div class="form-group">
          <label for="part">Part</label>
        <select formControlName = "partName" type="text" class="form-control" name="userPart" size="1">
          <option *ngFor="let d of partNames" [ngValue]="d">{{ d }}</option>
          </select>
        </div>

        <div *ngIf="(vehicleInfoForm.get('partName').invalid) && (vehicleInfoForm.get('partName').touched) || (vehicleInfoForm.get('partName').dirty)">
          <small *ngIf="(vehicleInfoForm.get('partName').errors?.required)" class="text-danger"> Feild is required</small>
        </div>
    
   <div class="form-group" formGroupName="partType">
        <label for="type">Type of Part</label><br>
        ​<input formControlName="used" class="checkbox" type="checkbox" >
        <label class="check-labels" for="used">Used</label><br>
        <input formControlName="new" class="checkbox" type="checkbox" >
        <label class="check-labels" for="new">New</label><br>
        <input formControlName="reManufactured" class="checkbox" type="checkbox" >
        <label class="check-labels" for="Remanufactured">Remanufactured</label><br>
  </div>
        <button [disabled]= "!vehicleInfoForm.valid"  class="btn btn-primary" (click) = "post()" type="submit">SUBMIT</button>
        <button class="btn clear-btn"  (click)="formReset()" type="submit">Clear</button>
      </form>
    </div>
  </div>
</div>
<p>© <span>2021</span> <a class="transition">Part Supply App</a> All rights reserved.</p>

