.navbar-div{
    margin-left: 40%;
  }
  .nav-item{
    margin: 0 2px;
    font-weight: bold;
     font-size: 1.3rem;
    
  }
  img, a{
    cursor: pointer;
  }
  
  .navbar{
    background-color: #BBBFCA;
    /* background: -webkit-linear-gradient(left, #3931af, #00c6ff);     */
  }
  .nav-item:hover{
   font-size: 1.1rem;
  }
  .companylogo{
    filter: drop-shadow(7px 7px 7px #666666);
         -webkit-filter: drop-shadow(7px 7px 7px #666666);
  }
  .logout {
    margin-left: 7%;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 6%;
  }
  @media (max-width: 992px){
    .logout{
      margin-left: 0px;
    }    
    .navbar-div{
      margin-left: 40%;
    }
    
  }
                    
  @media only screen and(min-width: 480px) and (max-width: 767px) {
    .logout {
      margin-left: 0px;
      margin-top: 2%;
  }
  .navbar-div{
    margin-right: 10%;
  }
 
  }
  @media (min-width:1281px){
    .navbar-div{
      margin-left: 50%;
    } 
  } 
  