<app-seller-header></app-seller-header>

<h3 class="headline">My Offer(s) Status</h3>
<div class="table-responsive">
<table>   
        <tr>
            <th>Part request Id</th>
            <th>Make</th>
            <th>Year</th>
            <th>Model</th>
            <th>Part</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Warranty</th>
            <th>Delivery Time</th>
            <th>Brand</th>
            <th>Standing</th>
            <th>Edit</th>
        </tr>    
        <tr *ngFor="let offers of offerStatus">
            <td>{{offers.partRequestId}}</td>
            <td>{{offers.make}}</td>
            <td>{{offers.year}}</td>
            <td>{{offers.model}}</td>
            <td>{{offers.part}}</td>
            <td>{{offers.partType}}</td>
            <td>${{offers.bid}}</td>
            <td>{{offers.warranty}}</td>
            <td>{{offers.estDeliveryTime}}</td>
            <td>{{offers.brand}}</td>
            <td style="width: 60%;">
                <span *ngIf="offers.sellerId === userProfile.data.id && offers.bidStandingStatus==='OUTBID'" >
                    <img src="./../../../../assets/thumbs_down.png" class="thumbs_img"/>
                    <span class="thumbs_down_text">{{bidMap.get(offers.bidStandingStatus)}}</span>
                </span>
                <span *ngIf="offers.sellerId === userProfile.data.id && offers.bidStandingStatus==='BEST_BID'">
                    <img src="./../../../../assets/thumbs_up.png" class="thumbs_img"/>
                    <span class="thumbs_up_text">{{bidMap.get(offers.bidStandingStatus)}}</span>
                </span>
            </td> 
            <td class="td-button1"><button *ngIf="offers.sellerId === userProfile.data.id" (click)="openDialog(offers)" class="ask-btn btn btn-danger">Edit Offer</button></td>
        </tr>
    
</table>
