::ng-deep.mat-dialog-container {
    background-color: red !important; 
    border-radius: 20px !important;
}
table {
  margin: 5%;
}
.headline {
  background-color: #444444;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-align: center;
  margin-top: 2%;
  color: #FFF;
  opacity: 0.8;
  font-size: 3rem;
  border-radius: 20px; 
}
td {
  border: 1px solid #131212;
  text-align: center;
  padding: 8px;
}
.td-button1 {
  width: 18%;
}

button {
  box-shadow: 2px 2px 2px 2px grey;
}
.accepted-btn {
  margin: 5%;
}
.hide {
  display: none;
  margin-left: 0px;
  font-size: 0.8rem;
}
.accepted-btn:hover + .hide {
  display: block;
  color: red;
  text-align: center;
}
button:hover {
  background-color: greenyellow;
  color: black;
}
.standing{
  width: 50%;
}
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: rgb(68, 64, 60);
  font-weight: bold;
  font-size: 1rem;
  color: #FFFF;
}

table.odd tr td, th {
	border:1px solid #ccc;
  	padding:5px;
}
tr:nth-child(even) {
  background: #f1f1f1;
}
tr:nth-child(odd){
  background: #b1b0ae;
}
a:hover{
    color: black;
}
.thumbs_img {
  width: 40px;
  height: 40px;
  padding-top: 5px;
}
.thumbs_down_text { 
  padding-left: 5px;
}
.thumbs_up_text {
  vertical-align: bottom;
  padding-left: 20px;
}
@media (max-width: 480px){
.headline {
        font-size: 2rem;
  }
  .thumbs_up_text {
    vertical-align: bottom;
    padding-left: 0px;
}
 table {
    margin: 5%;
    width: 80%;
    font-size: 1rem;
  }
  span{
    width: 50%;
  }

button {
  font-size: 15px;
}
.td-button1 {
  width: 10%
  }
}
