
<app-buyer-header></app-buyer-header>
<div class="body">
  
  <div class="container">
   
    <h4>Part Purchasing Menu</h4>
    <button onClick="window.location='requestInfo'" class="make-request btn-warning"type="" name="button">Make a part request</button><br>
    <button onClick="window.location='#'"class="see-requests btn-warning" type="" name="button">See your all requests</button>
    <div class="div-logout">
      <button (click)="post()" class="btn-danger logout" type="" name="button">logout</button>
    </div>
  </div>
  <p>© <span>2021</span> <a href="#" class="transition">Part Supply App</a> All rights reserved.</p>
</div>
