
<app-header></app-header>

  <div class="section section-signup">
    <div class="container">
      <div class="row">
        <!-- <div class="card card-signup"> -->
          <form class="form signup-form" method="post" action="/signup">
            <div class="card-header text-center">
              <h3 class="card-title">Sign Up</h3>
            </div>
            <div class="card-body">
              <div class="input-group no-border">
                <label class="labels"for="">FullName </label>
                <input type="text" class="form-control" placeholder="Type Here..." required autofocus>
              </div>
              <div class="input-group no-border">
                <label class="labels"for="">Email </label>
                <input type="email" placeholder="Type Here..." class="form-control" required>
              </div>
              <div class="input-group no-border">
                <label class="labels"for="">Password </label>
                <input type="password" class="form-control" placeholder="Type Here..." required>
              </div>
              <div class="input-group no-border">
                <label class="labels"for="">Re-enter Password </label>
                <input type="password" class="form-control" placeholder="Type Here..."  required>
              </div>
              <div class="input-group no-border">
                <label class="labels"for="">Company </label>
                <input type="text" class="form-control" placeholder="Type Here..." required>
              </div>
              <div class="input-group no-border">
                <label class="labels"for="">Address#1 </label>
                <input type="text" class="form-control" placeholder="Type Here..." required>
              </div>
              <div class="input-group no-border">
                <label class="labels"for="">City </label>
                <input type="text" class="form-control" placeholder="Type Here..." required>
              </div>
              <div class="input-group no-border">
                <label class="labels"for="">State </label>
                <input type="text" class="form-control" placeholder="Type Here..." required>
              </div>
              <div class="input-group no-border">
                <label class="labels"for="">Zipcode </label>
                <input type="number" class="form-control" placeholder="Type Here..." required>
              </div>
              <div class="input-group no-border">
                <label class="labels" for="">Country</label>
                <select class="form-control" name="" id="">
                  <option value="none">Select...</option>
                  <option value="none">usa</option>
                </select>
              </div>
              <div class="input-group no-border">
                <label class="labels" for="">Mail Delivery Acceptable</label>
                <select class="form-control" name="" id="" required>
                  <option value="none">Select...</option>
                  <option value="none">Yes</option>
                  <option value="none">No</option>
                </select>
              </div>
              <div class="input-group no-border">
                <label class="labels" for="">Signup As</label>
                <select class="form-control" name="" id="" required>
                  <option value="none">Select...</option>
                  <option value="none">Buyer</option>
                  <option value="none">Seller</option>
                </select>
              </div>
              <div class="input-group no-border">
                <label class="labels"for="">Phone No. </label>
                <input type="text" class="form-control" placeholder="Type Here..." required>
              </div>
              <div class="input-group no-border">
                <label class="labels"for="">Fax No. </label>
                <input type="text" class="form-control" placeholder="Type Here..." required>
              </div>
              <div class="input-group no-border">
                <label class="labels" for="">Delivery Radius</label>
                <select class="form-control" name="" id="" required>
                  <option value="none">Select...</option>
                  <option value="none">5 Miles</option>
                  <option value="none">10 Miles</option>
                  <option value="none">20 Miles</option>
                  <option value="none">25 Miles</option>
                  <option value="none">All</option>
                </select>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-neutral btn-round btn-lg" name="Get Started">Get Started</button>
                <!-- <a href="#" type= submit class="btn btn-neutral btn-round btn-lg">Get Started</a> -->
              </div>
            </div>
          </form>
          <app-footer></app-footer>

        <!-- </div> -->
      </div>
    </div>
  </div>
