<div class="">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <img src="/assets/company_log.png" class="companylogo" (click)='homeRoute()'alt="company logo" width="200px" height="50px">
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-div" [ngClass]="{ 'show': navbarOpen }">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="signup">Update Application</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="requestInfo">Part Request Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contactUs">Contact</a>
              </li>
            <li class="">
              <button (click)="logout()" class="btn-danger logout" type="" name="button">LogOut</button>
            </li>
          </ul>
  
        </div>
      </div>
    </nav>
  
  </div>
  <h3 class="headline">Part Request(s) List</h3>
     <div class="table-responsive"> 
        <table>
            <tr>
                <th>Vin</th>
                <th>Make</th>
                <th>Year</th>
                <th>Model</th>
                <th>Part-Name</th>
                <th>Part-Type</th>
                <th># of Offers</th>
                <th>Offer Status</th>
                <th>View Offers</th>
            </tr>
            
            <tr *ngFor="let partRequest of partRequestList">
                <td>{{partRequest.vinNumber}}</td>
                <td>{{partRequest.make}}</td>
                <td>{{partRequest.year}}</td>
                <td>{{partRequest.model}}</td>
                <td>{{partRequest.partName}}</td>
                <td>{{partRequest.partType}}</td>
                <td>{{partRequest.numberOfOffers}}</td>
                <td>{{partRequest.offerStatus}}</td>
                <td class="view_offer_td"><button (click)="viewOffers(partRequest.id)" class="btn btn-danger">View Offers</button></td>
            </tr>
          </table>
     </div>
    
      