<div class="">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <img src="/assets/company_log.png" class="companylogo" (click)='homeRoute()'alt="company logo" width="200px" height="50px">
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-div" [ngClass]="{ 'show': navbarOpen }">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li *ngIf="_router != '/buyerRequestList'" class="nav-item">
              <a class="nav-link" aria-current="page" (click)="routeByUrl('requestInfo')">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="routeByUrl('requestInfo')">Part Request Menu</a>
              </li>
              
              <!-- <li class="nav-item">
                <a class="nav-link" href="contactUs">Contact</a>
              </li> -->
              <li *ngIf="_router != '/updateProfile'" class="nav-item">
                <a *ngIf="_router != '/updateProfile'" class="nav-link" (click)="routeByUrl('updateProfile')">Update Profile</a>
              </li>
            <li class="">
              <button (click)="logout()" class="btn-danger logout" type="" name="button">Logout</button>
            </li>
          </ul>
  
        </div>
      </div>
    </nav>
  
  </div>
  <h3 class="headline">All Requests</h3>
     <div class="table-responsive"> 
        <table>
            <tr>
              <th>Part ID</th>
                <th>Vin</th>
                <th>Make</th>
                <th>Year</th>
                <th>Model</th>
                <th>Part-Name</th>
                <th>Part-Type</th>
                <th># of Offers</th>
                <th>Offer Status</th>
                <th>View Offers</th>
                <th>Message</th>
            </tr>
            
            <tr *ngFor="let partRequest of partRequestList">
              <td>{{partRequest.id}}</td>
                <td>{{partRequest.vinNumber}}</td>
                <td>{{partRequest.make}}</td>
                <td>{{partRequest.year}}</td>
                <td>{{partRequest.model}}</td>
                <td>{{partRequest.partName}}</td>
                <td>{{partRequest.partType}}</td>
                <td>{{partRequest.numberOfOffers}}</td>
                <td>{{partRequest.offerStatus}}</td>
                <td class="view_offer_td"><button (click)="viewOffers(partRequest.id)" class="btn btn-danger" *ngIf="partRequest.numberOfOffers > 0">View Offers</button></td>
                <td class="view_offer_td" *ngIf="isChatAvailable(partRequest.id)">
                  <button (click)="chatPopup(partRequest)">
                    <img src="./../../../../assets/chat.png" class="chat"/>
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16"> -->
                      <!-- <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/> -->
                    <!-- </svg> -->
                  </button>
                </td>
                <td class="view_offer_td" *ngIf="!isChatAvailable(partRequest.id)">
                  <img src="./../../../../assets/nochat.png" class="chat"/>
                  <!-- Chat Not Available -->
                </td>
            </tr>
          </table>
     </div>
    
      