<!-- <div class="sidebar">
<img src="/assets/company_log.jpeg" class="companylogo" alt="company logo" width="200px" height="50px">
  <a href="requestInfo">Existing Applications</a>
  <a href="">View all requests</a>
  <a href="home">Logout</a>

</div> -->
<div id="LoginForm">
    <div class="container">
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>Admin Reset Password</h2>
            <p>Please enter your admin user email and reset your password</p>
          </div>
          <form id="Login" [formGroup]= "userLoginForm" novalidate >
            <div class="form-group">
              <input [class.is-invalid] = "userLoginForm.get('email').invalid && userLoginForm.get('email').touched" formControlName = "email" type="email" class="form-control" id="inputEmail" placeholder="Email Address" required>
            </div>
            <button [disabled]= "!userLoginForm.get('email').valid" type="submit" (click)="getOtp()" class="btn btn-primary">Get OneTime Pass Code</button>
            <div *ngIf="isEmailInvalid" class="input-group form-group username-field">
                <label class="labels"for="" style="font-size: 12px; color: red;">**Provided email is not valid.</label>
            </div>
            <div *ngIf="isOtpSend">
                <div class="input-group form-group username-field">
                    <label class="labels"for="" style="font-size: 12px; color: #777777;">**Please check your email and put One time passcode below.</label>
                </div>
                <div class="form-group">
                    <input [class.is-invalid] = "userLoginForm.get('otp').invalid && userLoginForm.get('otp').touched" formControlName = "otp" type="text" class="form-control" id="inputEmail" placeholder="Type OTP Here..." required>
                </div>
                <div class="form-group">
                    <input [class.is-invalid] = "userLoginForm.get('password').invalid && userLoginForm.get('password').touched" formControlName = "password" type="text" class="form-control" id="inputEmail" placeholder="Type New Password Here..." required>
                </div>
                <button [disabled]= "!userLoginForm.valid" type="submit" (click)="resetPassword()" class="btn btn-primary">Login</button>
                <div *ngIf="passwordChangeError" class="input-group form-group username-field">
                    <label class="labels"for="" style="font-size: 12px; color: red;">**Provided one time PassCode is not valid.</label>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  