/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Numans');

/* body {
 background: url('/assets/white.png') no-repeat center center fixed;  
 background-size: cover; 
 background-repeat: no-repeat; 
 font-family: 'Helvetica', sans-serif;
 width: 100%;
 height: 100%;
} */

.container{
height: 100%;
align-content: center;
}

.headline {
background-color: #444444;
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
text-align: center;
margin-top: 2%;
color: #FFF;
 opacity: 0.8; 
font-size: 3rem;
border-radius: 20px;

}

.h3-headline{
  background-color: #444444;
  /* background: -webkit-linear-gradient(right, #3931af, #00c6ff); */
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-family: 'Helvetica';
  text-align: center;
  border-radius: 20px;
  color: #FFF;
  opacity: 0.8;
}
.forgot-link{
  color: red;
  text-decoration: none;
  margin-top: 2%;
  margin-left: 55%;
}
.card{
height: 400px;
margin-top: 5%;
margin-bottom: auto;
width: 400px;
/* background-color: #BBBFCA !important; */
background-color: rgba(0,0,0,0.5) !important;
/* background: -webkit-linear-gradient(right, #3931af, #00c6ff); */
border-radius: 20px;
box-shadow: 3px 3px 5px 5px rgb(247, 223, 223);
}
.card-header h3{
color: white;
}

.username-field, .login-field, .remember{
 margin-bottom: 7px;
}
input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}
.remember{
color: white;
}
.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}
.links{
color: white;
}
.links a{
margin-left: 4px;
}
a:hover{
    text-decoration:none;
    color: white;
}
.card-footer{
  padding: 0;
}
.homefooter{
  margin-top: 100%;
}

/* *******************Signup************* */

.btn-danger{
  margin-top: 10px;
}
.btn-danger:hover{
  background-color: #d1caca;
}

.signup-form{
  background: -webkit-linear-gradient(right, #22203b, #7a7a7a);
  border-radius: 30px;
  width: 40%;
  margin-top: 2%;
  margin-left: 30%;
  font-size: 1rem;
  box-shadow: -2px -2px 5px 5px rgb(247, 223, 223);

}
.deliveryRadius{
  width: 100% !important;
}

.labels{
    display: inline-block;
    padding-top: 2%;
    padding-bottom: 1%;
    
    width: 400px;
    text-align: left;
    color: #FFF;
}
input {
  float: right;
}
.input-group>.form-control, .input-group>.form-select {
  width: 50%;
}
/* *********************************Media Queries************************************** */

@media (max-width:992px){
  .headline{
    font-size: 1.3rem;
  }
  .card{
    margin-top: 15%;
  }
  /* html,body{
   width: 100%;
   height: 100%;
 } */
  /* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 50%;
    min-height: 50%;
  } */
  .h3-headline{
    font-size: 1rem;
  }
  .signup-form{
    width: 95%;
    margin: 4% auto auto;
  }
  
}
@media only screen and (max-width: 480px) {
   html,body{
    width: 100%;
    height: 100%;
  }
  .card{
    margin-top: 15%;
  }
  .signup-form{
    width: 95%;
    margin: 4% auto auto;
  }
 
}


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */


