<div class="container">
  <div class="main">
    <h5>Ask A Question</h5>
      <div class="main-center">
          
          <div>
              <label class="top5-label" for="year">Year:</label>
              <span class="span-class">{{partData.year}}</span>
          </div>
          <div>
              <label class="top5-label" for="make">Make:</label>
              <span class="span-class">{{partData.make}}</span>
          </div>
          <div>
              <label class="top5-label" for="model">Model:</label>
              <span class="span-class">{{partData.model}}</span>
          </div>
          <div>
              <label class="top5-label" for="vin">VIN:</label>
              <span class="span-class">{{partData.vinNumber}}</span>
          </div>
          <div>
              <label class="top5-label" for="part-name">Part:</label>
              <span class="span-class">{{partData.partName}}</span>
          </div>
      </div>
      <div class="chat-area">
        <div *ngIf="questionAnswerResponseData.data.length > 0" style="padding: 2%;font-weight: bold;">
          <div *ngFor="let res of this.questionAnswerResponseData.data; let i = index">
            <div *ngIf="res.IS_ANSWER===1">
               <div>Seller: {{res.QUESTION}}</div>
               <div>Buyer: {{res.ANSWER}}</div>
            </div>
            <div *ngIf="res.IS_ANSWER===0"> Seller: {{res.QUESTION}}</div>
          </div>
        </div>
      </div>
      <div>
        <input [attr.disabled]="canBuyerAskQuestion ? null : ''" type="text" [(ngModel)]="questionText"/>
      </div>
      <button [attr.disabled]="canBuyerAskQuestion ? null : ''" class="btn btn-primary" type="submit" (click)="submitQuestion()">SUBMIT</button>
      <button class="btn clear-btn" type="submit" (click)="formReset()">Clear</button>
      <button class="btn cancle-btn" type="button" (click)="onNoClick()">Close</button>
  </div>
</div>
