<app-buyer-header></app-buyer-header>

<!-- {{ response | json}} -->
<div class="container">
    <div class="main">
        <div class="main-center">
            <h3>Offer Summary</h3>
            <div>
                <label class="top5-label" for="year">Part Name: </label>
                <span class="span-class"> {{response.data.partRequest.PART_NAME}}</span>
            </div>
            <div>
                <label class="top5-label" for="year">Year: </label>
                <span class="span-class"> {{response.data.partRequest.YEAR}}</span>
            </div>
            <div>
                <label class="top5-label" for="year">Model: </label>
                <span class="span-class"> {{response.data.partRequest.MODEL}}</span>
            </div>
            <div>
                <label class="top5-label" for="year">Brand: </label>
                <span class="span-class"> {{response.data.partBidRequest.PART_BRAND}}</span>
            </div>
            <div>
                <label class="top5-label" for="year">Cost: </label>
                <span class="span-class" style="color:greenyellow; font-weight: bold; "> ${{response.data.partBidRequest.BID_AMOUNT}}</span>
            </div>
            <!-- <div *ngIf="response.data.user.role.roleName === 'BUYER'">
                <label class="top5-label" for="year">Fees: </label>
                <span class="span-class" style="color:greenyellow; font-weight: bold; "> ${{fees}}</span>
            </div> -->

            <h3 style="margin-top: 4%;"> <span>{{response.data.user.role.roleName}}</span> Information</h3>
            <div>
                <label class="top5-label" for="year">Full Name: </label>
                <span class="span-class"> {{response.data.user.firstName}}</span><span> {{response.data.user.lastName}}</span>
            </div>
            <div>
                <label class="top5-label" for="year">Company: </label>
                <span class="span-class"> {{response.data.user.companyName}}</span><span> {{response.data.user.lastName}}</span>
            </div>
            <div>
                <label class="top5-label" for="year">Email: </label>
                <span class="span-class"> {{response.data.user.email}}</span>
            </div>
            <div>
                <label class="top5-label" for="year">Phone Number: </label>
                <span class="span-class"> {{response.data.user.phoneNumber}}</span>
            </div>
            <div>
                <label class="top5-label" for="year">Address: </label>
                <span class="span-class"> {{response.data.user.address.addressLineOne}}, {{response.data.user.address.city}}, {{response.data.user.address.state}} {{response.data.user.address.zipCode}}</span>
            </div>
           
        </div>
    </div>
</div>

