h5 {
  text-align: center;
  margin-bottom: 5%;
}
.view-request{
  margin-left: 80%;
  margin-top: 5px;
  color: #FFF;
}
.view-request:hover{
  color: Yellow;

}
.main {
  padding: 40px 0;
}
.companylogo{
  filter: drop-shadow(7px 7px 7px #666666);
       -webkit-filter: drop-shadow(7px 7px 7px #666666);
       margin-bottom: 5%;
}

.main input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.checkbox {
  float: left;
  margin-top: 2%;
  margin-left: 0;
}

.check-labels {
  margin-left: 2%;
  margin-top: 0;
}

.main-center {
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
  padding: 10px 40px;
  background: #BBBFCA;
  border-radius: 20px;
  color: #FFF;
  text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
}

label {
  padding-top: 2%;
  padding-bottom: 2%;
}

button {
  margin-top: 5%;
  background-color: #394867;
  color: white;
}

button:hover{
background-color: blue;
}
.clear-btn:hover{
background-color: red;
}
p {
  color: #e5e5e5;
  font-weight: 600;
  opacity: 0.5;
  text-align: center;
  margin-top: 10%;
}
.clear-btn{
  margin-left: 10%;
}
body {
margin: 0;

}

.sidebar {
margin: 0;
padding: 0;
width: 200px;
background-color: #f1f1f1;
position: fixed;
height: 100%;
overflow: auto;
}

.sidebar a {
display: block;
color: black;
padding: 16px;
text-decoration: none;
}

.sidebar a.active {
background-color: #394867;
color: white;
}

.sidebar a:hover:not(.active) {
background-color: #BBBFCA;
color: white;
}






@media only screen and (max-width:992px) {
  p {
    margin-top: 50%;
  }

  .clear-btn {
    margin-right: 30%;
  }
}

@media only screen and (max-width:480px) {
  p {
    font-size: 0.8rem;
  }

  .clear-btn {
    margin-right: 20%;
  }
}

@media screen and (max-width: 700px) {
.sidebar {
  width: 100%;
  height: auto;
  position: relative;
}
.sidebar a {float: left;}

}

@media screen and (max-width: 400px) {
.sidebar a {
  text-align: center;
  float: none;
 }
}
